header{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
nav ul li a{
    text-decoration: none;
    color: rgb(97, 95, 95);
    font-weight: bold;
}